@model List<BlogListModel>
@{
    ViewData["Title"] = "View";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<a asp-action="CreateBlog" asp-controller="Blog" asp-area="Admin" class="btn btn-sm btn-info">Yeni Blog Yaz</a>
<table class="table table-bordered table-hover">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>    
                    <a id ="linkAssingCategory" data-toggle="tooltip" title="" data-id="@item.Id" class="btn btn-sm btn-dark">Kategori Ata</a>                    
                    @* Modal *@
                    <div id="myModal" class="modal fade" role="dialog" data-url="@Url.Action("PartialAssingCategory","Blog")"></div>
                </td>
                <td>
                    <a class="btn btn-sm btn-warning" asp-action="UpdateBlog" asp-route-id="@item.Id"> Düzenle                       
                    </a>
                    <a class="btn btn-sm btn-danger" asp-action="DeleteBlog" asp-route-id="@item.Id">
                        Sil
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/lib/jquery/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#linkAssingCategory').click(function () {
            var url = $('#myModal').data('url');
            var id = $(this).attr('data-id');
            $.get(url + '/' + id, function (data) {
                $("#myModal").html(data);
                $("#myModal").modal('show');
            });
        });
    });
</script>