@model BlogListModel
<!-- Title -->
<h1 class="mt-4">@Model.Title</h1>


<hr>

<!-- Date/Time -->
<p>@Model.PostedTime.ToLongDateString() tarihinde yayımlandı</p>

<hr>

<!-- Preview Image -->
<imgTag img-class="img-fluid rounded" id="Model.Id"></imgTag>

<hr>

<!-- Post Content -->
@Html.Raw(Model.LongDescription)

<hr>

<!-- Comments Form -->
<div class="card my-4">
    <h5 class="card-header">Bir Yorum Bırak</h5>
    <div class="card-body">
        <form>
            <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </form>
    </div>
</div>

@{
    var comments = (List<CommentListModel>)ViewBag.Comments;
    void GetComments(List<CommentListModel> comments)
    {
        if (comments.Any())
        {
            foreach (var pComment in comments)
            {

                <div class="media my-3">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                    <div class="media-body">
                        <h5 class="mt-0">@pComment.AuthorName</h5>
                        @pComment.Description
                        <button class="btn btn-sm btn-primary float-right">Cevapla</button>
                        @{
                            GetComments(pComment.SubComments);
                        }
                    </div>
                </div>
            }
        }
    }
}
@{
    GetComments(comments);
}