@{
    string active = string.Empty;
    if(TempData[active]!=null)
         active = TempData["active"].ToString();


}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Medusa - Admin Panel</title>

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootswatch/simplex/bootstrap.min.css" rel="stylesheet">

    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/css/simple-sidebar.css" rel="stylesheet">
    @RenderSection("cssTrumbowyg", false)

</head>

<body>

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div style="cursor:pointer;" class="sidebar-heading text-center">
                <img class="w-100 img-fluid img-thumbnail" src="~/medusa-red-logo35.png" /> <br />
                <strong style="color: #d9230f;"><em><u>MEDUSA</u></em></strong>
            </div>
            <div class="list-group list-group-flush">
                <a asp-action="Index" asp-controller="Blog" asp-area="Admin"
                   class="list-group-item list-group-item-action @(active=="Blog"?"active":"")">Blog İşlemleri</a>
                <a asp-action="Index" asp-controller="Category" asp-area="Admin"
                   class="list-group-item list-group-item-action @(active=="Category"?"active":"")">Kategori İşlemleri</a>
                <a asp-action="Index" asp-controller="Home" asp-area=""
                   class="list-group-item list-group-item-action @(active=="Category"?"active":"")">Sunum Paneli</a>
                <a asp-action="SignOut" asp-controller="Home" asp-area="Admin"
                   class="list-group-item list-group-item-action bg-light">Çıkış Yap</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper" style="padding-top:10px">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>

    @RenderSection("jsTrumbowyg", false);

</body>

</html>
